/*** AQUI CONFIGURAÇÃO GERAL ***/

body{
    background-color: whitesmoke;    
    font-family: 'Handlee', cursive;
    font-weight: 400;
    font-size: 1.1rem;
    background-image: url(./imagens/chama2.png);
    background-size: cover;
    background-attachment: fixed;
}

/*** FINAL CONFIGURAÇÃO GERAL ***/

/*** AQUI TODO O HEADER ***/
@media screen and (min-width: 350px){       
header{
    display: flex;
    flex-direction: column;        
    text-align: center;         
    }

.menu ul li{ 
    display: flex;
    flex-direction: column;
    }
header .logo{     
    align-self: center;   
    } 
  
  nav ul{
    list-style: none;   
    }

nav li{    
    border-right:solid 1.5px;
    border-bottom:solid 1.5px;
    font-size: 0.8rem;
    font-style: italic;
    color: #d3d3d3;
    margin:30px 5px;
    }   

nav a{
    text-decoration: none;
    }

nav a:hover{
    font-weight: 600px;
    font-size: bolder;
    }

.menu a{
    color: black;
    }

header img{
    width: 150px;
     }
     
.logo{
    width: 130px;
    height: 150px;
    }

section{
    background-color: rgba(0,0,0,70%);
    padding-top: 30px;
    padding-left: 10px;
}
#centerbanner{
    align-items: center;
    color: red;    
}

section img{
    width: 130px;
    height: 150px;
    }

#lideres{
    position: relative;
    top: 5vw;
    left: 8vw;
    color: red;
    font-style: italic;
    }
#rai1{
    animation: raio1 forwards;
    animation-duration: 2s;
    opacity: 0;
     }
    
    @keyframes raio1{
        from{
            transform: skew(0); 
            opacity: 0; 
        }
        50%{
            transform: skew(40deg, 10deg);
            opacity: 1;
          }
        to{   
            transform: skew(0);         
            opacity: 0;
        }
    }
    
#rai2{
    animation: raio2 forwards;
    animation-duration: 2s;
    animation-delay: 2s;
    opacity: 0;
     }
    
     @keyframes raio2{
        from{
            transform: skew(0);            
        }
        50%{
            transform: skew(-40deg, -10deg);
            opacity: 1;
          }
        to{
            transform: skew(0);
            opacity: 0;
        }
    }

.cap{
        font-family: 'Permanent Marker', cursive;
    }

dt{
        font-weight: bolder;
        color: red;
    }
    
dd{
        color: tomato
    }

.celulas ul{
        list-style: none;
    }



}


@media screen and (min-width: 700px){
body header{
    display: flex;    
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 5rem;
    margin: 20px 5%;
}

.menu ul li{ 
    display: flex;
    display: inline-flex;
    justify-content: end;
    }

#rai1{
    animation: raio1 forwards;
    animation-duration: 3s;
    opacity: 0;
 }

@keyframes raio1{
    from{
        transform: skew(0);
        margin-bottom: 0;
        margin-right: 50%; 
    }
    50%{
        transform: skew(40deg, 10deg);
        opacity: 1;
      }
    to{
        transform: skew(0);
        opacity: 0;
    }
}

#rai2{
    animation: raio2 forwards;
    animation-duration: 3s;
    animation-delay: 3s;
    opacity: 0;
 }

 @keyframes raio2{
    from{
        transform: skew(0);
        margin-bottom: 0;
        margin-left: 50%;;
    }
    50%{
        transform: skew(-40deg, -10deg);
        opacity: 1;
      }
    to{
        transform: skew(0);
        opacity: 0;
    }
}

main{
    text-align: center;
}

section{
    background-color: rgba(0,0,0,70%);
    height: 300px;
}

section h1{
    color: red;
    font-style: italic;
}

.banner img{
    width: 200px;
    height: 300px;
}

.banner h1{
    position: relative;
    bottom: 18vw;
    font-size: 5rem;
    margin: 0;
}

/*** AQUI TODO O CORPO ***/
.tudo{
    display:flex;    
    width:100vw;
}


/*** FINAL DO CORPO ***/

/*** AQUI TODO LADO ESQUERDO ***/
.esquerdo{
    width: 15vw;    
}


/*** FINAL LADO ESQUERDO ***/

/*** AQUI TODO CENTRO ***/


.hist img{
    width: 65vw;
}

.hist p{
    width: 65vw;
}

.eventos{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

.eventos img{
    width: 400px;
    height: 300px;
}


/*** FINAL CENTRO ***/

/*** AQUI TODO LADO DIREITO ***/


.direito{
    width: 15vw;
    align-content: center;
}

/*** FINAL LADO DIREITO ***/


/*** AQUI TODO O FOOTER ***/
footer{
    background-color: tomato;
    height: 180px;
}

#rodape{
    display: flex;
    justify-content: space-between;
}

footer img{
    display: inline;
    margin-right: 15px;    
    width: 50px;
    height: 50px;
}

#logofooter{
    height: 200px;
    width: 170px;
}
.social{
    margin-top: 70px;
}

#footercenter{
    margin-top: 10px;
}


}





/*** FINAL HEADER ***/



